
.custom-navbar-brand {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3px;
}

/*.bg-body-tertiary {*/
/*    background-color: #ff5656;*/
/*}*/

/*.navbar.bg-body-tertiary {*/
/*    background-color: #ff5656;*/
/*}*/

/*.mainNav {*/
/*    background-color: #ff5656;*/
/*}*/