#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
}

.read-the-docs {
  color: #888;
}
label {
    font-size: 25px;
    font-family: "Arial Black";
    line-height: 1.1;
}

.textField {
    margin-bottom: 29px;
    background-color: #fff3eb ;
    border-radius: 4px;
}

.Timer {
    margin: 10px;
}

.Timer h2 {
    font-size:70px;
}
.Timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #c24f4f;
    border-radius: 190px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 430px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timeLeft {
    color: white;
}